# PROYECTO TALENTO TECH

# Paquetes y métodos propios

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import chi2_contingency
from scipy.stats.contingency import association

from itertools import combinations
import warnings

In [ ]:
# Solo si instalan Black, corran esta celda
# %load_ext jupyter_black

In [ ]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

# Violencia intrafamiliar

In [ ]:
# Cargar la base de datos
import pandas as pd

intrafamiliar = pd.read_csv("/content/data.csv")

## Descripción básica

In [ ]:
# Mostrar las primeras cinco filas
intrafamiliar.head()

,ID,Año del hecho,Sexo de la victima,Grupo de edad quinquenal,Grupo Mayor Menor de Edad,Grupo de Edad judicial,Ciclo Vital,País de Nacimiento,Escolaridad,Estado Civil,Tipo de Discapacidad,Pertenencia Étnica,Orientación Sexual,Identidad de Género,Transgénero,Pertenencia Grupal,Mes del hecho,Dia del hecho,Rango de Hora del Hecho X 3 Horas,Código Dane Municipio,Municipio del hecho DANE,Departamento del hecho DANE,Código Dane Departamento,Localidad del Hecho,Zona del Hecho,Escenario del Hecho,Actividad Durante el Hecho,Circunstancia del Hecho Detallada,Contexto del Hecho,Mecanismo Causal de la Lesión no Fatal,Diagnostico Topográfico de la Lesión no Fatal,Sexo del Agresor,Presunto Agresor Detallado,Factor Desencadenante de la Agresión,Días de Incapacidad Medicolegal,Pueblo Indígena
0,1,2015,Hombre,(10 a 14),a) Menor de Edad (<18 Años),(10 a 13),(12 a 17) Adolescencia,Colombia,Básica primaria,Soltero (a),Ninguna,Sin información,No Sabe / No Informa,No Sabe / No Informa,No Sabe / No Informa,Sin información,Diciembre,martes,(18:00 a 20:59),11001,"Bogotá, D.C.","Bogotá, D.C.",11,Rafael Uribe Uribe,Cabecera municipal,"Calle (Autopista,Avenida,Dentro de La Ciudad)",Actividades de desplazamiento de un lugar a otro.,"Violencia contra niños, niñas y adolescentes","3 Lesiones no Fatales contra Niños, Niñas y Ad...",Abrasivo,Trauma de miembros,Hombre,Padre,"Intolerancia, machismo",1 a 30,No había sido implementada
1,2,2015,Hombre,(00 a 04),a) Menor de Edad (<18 Años),(00 a 04),(00 a 05) Primera Infancia,Colombia,No aplica,No aplica,Ninguna,Sin pertenencia étnica,No aplica,No aplica,No aplica,Sin información,Marzo,miércoles,(18:00 a 20:59),25754,Soacha,Cundinamarca,25,Sin información,Cabecera municipal,Vivienda,Actividades relacionadas con la asistencia a e...,"Violencia contra niños, niñas y adolescentes","3 Lesiones no Fatales contra Niños, Niñas y Ad...",Contundente,Trauma de miembros,Mujer,Madre,"Intolerancia, machismo",1 a 30,No había sido implementada
2,3,2015,Hombre,(00 a 04),a) Menor de Edad (<18 Años),(00 a 04),(00 a 05) Primera Infancia,Colombia,No aplica,No aplica,Ninguna,Sin pertenencia étnica,No aplica,No aplica,No aplica,Sin información,Junio,jueves,Sin información,25754,Soacha,Cundinamarca,25,Sin información,Cabecera municipal,Sin información,Actividades de desplazamiento de un lugar a otro.,"Violencia contra niños, niñas y adolescentes","3 Lesiones no Fatales contra Niños, Niñas y Ad...",Por determinar,Sin información,Mujer,Otros familiares civiles o consanguineos,"Intolerancia, machismo",Sin información,No había sido implementada
3,4,2015,Hombre,(00 a 04),a) Menor de Edad (<18 Años),(00 a 04),(00 a 05) Primera Infancia,Colombia,No aplica,No aplica,Ninguna,Sin pertenencia étnica,No aplica,No aplica,No aplica,Sin información,Enero,sábado,(06:00 a 08:59),54001,Cúcuta,Norte de Santander,54,Sin información,Cabecera municipal,Vivienda,Actividades de desplazamiento de un lugar a otro.,"Violencia contra niños, niñas y adolescentes","3 Lesiones no Fatales contra Niños, Niñas y Ad...",Contundente,Trauma facial,Mujer,Abuelo (a),"Intolerancia, machismo",1 a 30,No había sido implementada
4,5,2015,Hombre,(25 a 29),b) Mayor de Edad (>18 Años),(25 a 28),(18 a 28) Juventud,Colombia,Sin información,Unión libre,Ninguna,Sin información,Heterosexual,No Sabe / No Informa,No Sabe / No Informa,Sin información,Mayo,martes,(09:00 a 11:59),11001,"Bogotá, D.C.","Bogotá, D.C.",11,Usme,Cabecera municipal,"Calle (Autopista,Avenida,Dentro de La Ciudad)",Actividades de desplazamiento de un lugar a otro.,Violencia entre otros familiares,4 Lesiones no Fatales por Violencia entre otro...,Contundente,Trauma facial,Hombre,Hermano (a),"Intolerancia, machismo",1 a 30,No había sido implementada

In [ ]:
# Información básica del conjunto
intrafamiliar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236840 entries, 0 to 236839
Data columns (total 36 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   ID                                             236840 non-null  int64
 1   Año del hecho                                  236840 non-null  int64
 2   Sexo de la victima                             236840 non-null  object
 3   Grupo de edad quinquenal                       236840 non-null  object
 4   Grupo Mayor Menor de Edad                      236840 non-null  object
 5   Grupo de Edad judicial                         236840 non-null  object
 6   Ciclo Vital                                    236840 non-null  object
 7   País de Nacimiento                             236840 non-null  object
 8   Escolaridad                                    236840 non-null  object
 9   Estado Civil                                   236840 non-null  object
 10  Tipo de Discapacidad                           236840 non-null  object
 11  Pertenencia Étnica                             236840 non-null  object
 12  Orientación Sexual                             236840 non-null  object
 13  Identidad de Género                            236840 non-null  object
 14  Transgénero                                    236840 non-null  object
 15  Pertenencia Grupal                             236840 non-null  object
 16  Mes del hecho                                  236840 non-null  object
 17  Dia del hecho                                  236840 non-null  object
 18  Rango de Hora del Hecho X 3 Horas              236840 non-null  object
 19  Código Dane Municipio                          236840 non-null  int64
 20  Municipio del hecho DANE                       236840 non-null  object
 21  Departamento del hecho DANE                    236840 non-null  object
 22  Código Dane Departamento                       236840 non-null  int64
 23  Localidad del Hecho                            236840 non-null  object
 24  Zona del Hecho                                 236840 non-null  object
 25  Escenario del Hecho                            236840 non-null  object
 26  Actividad Durante el Hecho                     236840 non-null  object
 27  Circunstancia del Hecho Detallada              236840 non-null  object
 28  Contexto del Hecho                             236840 non-null  object
 29  Mecanismo Causal de la Lesión no Fatal         236840 non-null  object
 30  Diagnostico Topográfico de la Lesión no Fatal  236840 non-null  object
 31  Sexo del Agresor                               236840 non-null  object
 32  Presunto Agresor Detallado                     236840 non-null  object
 33  Factor Desencadenante de la Agresión           236840 non-null  object
 34  Días de Incapacidad Medicolegal                236840 non-null  object
 35  Pueblo Indígena                                236840 non-null  object
dtypes: int64(4), object(32)
memory usage: 65.1+ MB

In [ ]:
intrafamiliar.shape

(236840, 36)

In [ ]:
intrafamiliar.size

8526240

In [ ]:
intrafamiliar.isna().sum()

ID                                               0
Año del hecho                                    0
Sexo de la victima                               0
Grupo de edad quinquenal                         0
Grupo Mayor Menor de Edad                        0
Grupo de Edad judicial                           0
Ciclo Vital                                      0
País de Nacimiento                               0
Escolaridad                                      0
Estado Civil                                     0
Tipo de Discapacidad                             0
Pertenencia Étnica                               0
Orientación Sexual                               0
Identidad de Género                              0
Transgénero                                      0
Pertenencia Grupal                               0
Mes del hecho                                    0
Dia del hecho                                    0
Rango de Hora del Hecho X 3 Horas                0
Código Dane Municipio                            0
Municipio del hecho DANE                         0
Departamento del hecho DANE                      0
Código Dane Departamento                         0
Localidad del Hecho                              0
Zona del Hecho                                   0
Escenario del Hecho                              0
Actividad Durante el Hecho                       0
Circunstancia del Hecho Detallada                0
Contexto del Hecho                               0
Mecanismo Causal de la Lesión no Fatal           0
Diagnostico Topográfico de la Lesión no Fatal    0
Sexo del Agresor                                 0
Presunto Agresor Detallado                       0
Factor Desencadenante de la Agresión             0
Días de Incapacidad Medicolegal                  0
Pueblo Indígena                                  0
dtype: int64

In [ ]:
intrafamiliar.isna().sum().sum()

np.int64(0)

In [ ]:
intrafamiliar.columns

Index(['ID', 'Año del hecho', 'Sexo de la victima', 'Grupo de edad quinquenal',
       'Grupo Mayor Menor de Edad', 'Grupo de Edad judicial', 'Ciclo Vital',
       'País de Nacimiento', 'Escolaridad', 'Estado Civil',
       'Tipo de Discapacidad', 'Pertenencia Étnica', 'Orientación Sexual',
       'Identidad de Género', 'Transgénero', 'Pertenencia Grupal',
       'Mes del hecho', 'Dia del hecho', 'Rango de Hora del Hecho X 3 Horas',
       'Código Dane Municipio', 'Municipio del hecho DANE',
       'Departamento del hecho DANE', 'Código Dane Departamento',
       'Localidad del Hecho', 'Zona del Hecho', 'Escenario del Hecho',
       'Actividad Durante el Hecho', 'Circunstancia del Hecho Detallada',
       'Contexto del Hecho', 'Mecanismo Causal de la Lesión no Fatal',
       'Diagnostico Topográfico de la Lesión no Fatal', 'Sexo del Agresor',
       'Presunto Agresor Detallado', 'Factor Desencadenante de la Agresión',
       'Días de Incapacidad Medicolegal', 'Pueblo Indígena'],
      dtype='object')

In [ ]:
# Lista de las columnas del conjunto
[
    "Año del hecho",
    "Sexo de la victima",
    "Grupo de edad quinquenal",
    "Grupo Mayor Menor de Edad",
    "Grupo de Edad judicial",
    "Ciclo Vital",
    "País de Nacimiento",
    "Escolaridad",
    "Estado Civil",
    "Tipo de Discapacidad",
    "Pertenencia Étnica",
    "Orientación Sexual",
    "Identidad de Género",
    "Transgénero",
    "Pertenencia Grupal",
    "Mes del hecho",
    "Dia del hecho",
    "Rango de Hora del Hecho X 3 Horas",
    "Código Dane Municipio",
    "Municipio del hecho DANE",
    "Departamento del hecho DANE",
    "Código Dane Departamento",
    "Localidad del Hecho",
    "Zona del Hecho",
    "Escenario del Hecho",
    "Actividad Durante el Hecho",
    "Circunstancia del Hecho Detallada",
    "Contexto del Hecho",
    "Mecanismo Causal de la Lesión no Fatal",
    "Diagnostico Topográfico de la Lesión no Fatal",
    "Sexo del Agresor",
    "Presunto Agresor Detallado",
    "Factor Desencadenante de la Agresión",
    "Días de Incapacidad Medicolegal",
    "Pueblo Indígena",
]

['Año del hecho',
 'Sexo de la victima',
 'Grupo de edad quinquenal',
 'Grupo Mayor Menor de Edad',
 'Grupo de Edad judicial',
 'Ciclo Vital',
 'País de Nacimiento',
 'Escolaridad',
 'Estado Civil',
 'Tipo de Discapacidad',
 'Pertenencia Étnica',
 'Orientación Sexual',
 'Identidad de Género',
 'Transgénero',
 'Pertenencia Grupal',
 'Mes del hecho',
 'Dia del hecho',
 'Rango de Hora del Hecho X 3 Horas',
 'Código Dane Municipio',
 'Municipio del hecho DANE',
 'Departamento del hecho DANE',
 'Código Dane Departamento',
 'Localidad del Hecho',
 'Zona del Hecho',
 'Escenario del Hecho',
 'Actividad Durante el Hecho',
 'Circunstancia del Hecho Detallada',
 'Contexto del Hecho',
 'Mecanismo Causal de la Lesión no Fatal',
 'Diagnostico Topográfico de la Lesión no Fatal',
 'Sexo del Agresor',
 'Presunto Agresor Detallado',
 'Factor Desencadenante de la Agresión',
 'Días de Incapacidad Medicolegal',
 'Pueblo Indígena']

## Renombramiento de categorías

### Grupo Mayor Menor de Edad

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Grupo Mayor Menor de Edad"].value_counts()

Grupo Mayor Menor de Edad
b) Mayores de Edad (>18 años)    137614
a) Menores de Edad (<18 años)     72241
b) Mayor de Edad (>18 Años)       16548
a) Menor de Edad (<18 Años)       10432
c) Sin información                    5
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Grupo Mayor Menor de Edad"] = intrafamiliar[
    "Grupo Mayor Menor de Edad"
].replace(
    {
        "b) Mayores de Edad (>18 años)": "Mayor de edad",
        "b) Mayor de Edad (>18 Años)": "Mayor de edad",
        "a) Menores de Edad (<18 Años)": "Menor de edad",
        "a) Menores de Edad (<18 años)": "Menor de edad",
        "a) Menor de Edad (<18 Años)": "Menor de edad",
        "c) Sin información": "Sin información",
    }
)

### País de Nacimiento

### Escolaridad

In [ ]:
# Porcentaje de la frecuencia de las categorías
intrafamiliar["Escolaridad"].value_counts(normalize=True)

Escolaridad
Educación básica primaria                        0.261691
Educación básica secundaria o secundaria baja    0.161843
Educación inicial y educación preescolar         0.156756
Educación media o secundaria alta                0.137194
Educación técnica profesional y tecnológica      0.089761
Sin escolaridad                                  0.058314
Básica primaria                                  0.053969
Preescolar                                       0.033474
Sin información                                  0.023940
Básica secundaria                                0.007262
No aplica                                        0.005599
Tecnológica                                      0.004074
Universitario                                    0.002466
Ninguna                                          0.002297
Especialización, maestría o equivalente          0.000414
Especialización, Maestría o equivalente          0.000367
Doctorado o equivalente                          0.000245
Profesional                                      0.000190
Maestría                                         0.000101
MAESTRÍA                                         0.000042
Name: proportion, dtype: float64

In [ ]:
# Filtrar 'Sin información' en la variable 'Escolaridad'
intrafamiliar[intrafamiliar["Escolaridad"] == "Sin información"][
    "Escolaridad"
].value_counts()

Escolaridad
Sin información    5670
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Escolaridad"] = intrafamiliar["Escolaridad"].replace(
    {
        "Ninguna": "Sin escolaridad",
        "No aplica": "Sin escolaridad",
        "Educación inicial y educación preescolar": "Preescolar",
        "Educación básica primaria": "Primaria",
        "Básica primaria": "Primaria",
        "Educación básica secundaria o secundaria baja": "Secundaria",
        "Educación media o secundaria alta": "Secundaria",
        "Básica secundaria": "Secundaria",
        "Educación técnica profesional y tecnológica": "Técnica o Tecnológica",
        "Tecnológica": "Técnica o Tecnológica",
        "Universitario": "Profesional",
        "Especialización, maestría o equivalente": "Posgrado",
        "Especialización, Maestría o equivalente": "Posgrado",
        "Maestría": "Posgrado",
        "MAESTRÍA": "Posgrado",
        "Doctorado o equivalente": "Posgrado",
        # "" : "",
    }
)

### Estado Civil

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Estado Civil"].value_counts()

Estado Civil
Soltero (a)                     112118
Unión libre                      49762
No aplica                        33902
Casado (a)                       20726
Viudo (a)                         6935
Separado (a), Divorciado (a)      6734
Separado (a), divorciado (a)      3376
Sin información                   3287
Name: count, dtype: int64

In [ ]:
# Filtrar 'No aplica' en la variable 'Estado Civil'
intrafamiliar[intrafamiliar["Estado Civil"] == "No aplica"][
    "Grupo de Edad judicial"
].value_counts()

Grupo de Edad judicial
(05 a 09)    20829
(00 a 04)    13073
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Estado Civil"] = intrafamiliar["Estado Civil"].replace(
    {
        "Separado (a), divorciado (a)": "Separado (a), Divorciado (a)",
        # "" : "",
    }
)

### Tipo de Discapacidad

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Tipo de Discapacidad"].value_counts().sort_index()

Tipo de Discapacidad
Auditiva                    256
Discapacidad Múltiple       241
Discapacidad múltiple        49
Física                      317
Intelectual                  38
Mental                      219
Ninguna                  235444
Psicosocial                  13
Siquica                     109
Síquica                      14
Visual                      140
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Tipo de Discapacidad"] = intrafamiliar["Tipo de Discapacidad"].replace(
    {
        "Discapacidad Múltiple": "Discapacidad múltiple",
        "Siquica": "Síquica",
        # "" : "",
    }
)

### Pertenencia Grupal

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Pertenencia Grupal"].value_counts().sort_index()

Pertenencia Grupal
Adolescentes en conflicto con la ley                                                      7
Cabezas Rapadas                                                                           3
Campesinos (as) y/o trabajadores (as) del campo                                        2058
Comunidad LGBT                                                                          266
Comunidad LGBTI                                                                          81
Conductores de vehículos de servicio público                                              8
Consumidores de sustancias psicoactivas (drogas, alcohol, etc.)                        5130
Defensores de derechos humanos                                                            1
Desmovilizados o reinsertados                                                             4
Desplazados (as)                                                                          4
Ejercicio de actividades de periodismo                                                    1
Ejercicio del trabajo sexual                                                              5
Emos                                                                                      2
Funcionarios judiciales                                                                   4
Grupos étnicos                                                                         2670
Habitante de la calle                                                                     8
Herido y/o enfermo bajo protección sanitaria o médica                                    27
Hopper                                                                                    1
Líder                                                                                     1
Maestro - educador                                                                       26
Maestro / educador                                                                        7
Maestro/Educador                                                                         41
Metaleros                                                                                 1
Mujer cabeza de hogar                                                                   643
Mujer cabeza de hogar o de familia                                                     1575
Ninguno                                                                              181645
Niños, Niñas y Adolescentes bajo protección del ICBF                                    169
Niños, Niñas y Adolescentes en condición de abandono                                     94
Niños, niñas, adolescentes bajo la protección del ICBF                                  879
Niños, niñas, adolescentes en condición de abandono                                     597
Otro                                                                                    157
Persona Recluida en establecimiento de rehabilitación y pabellones psiquiátricos          8
Persona adicta a una droga natural o sintética                                         5965
Persona bajo custodia                                                                    12
Persona con capacidades diferentes                                                      149
Persona desmovilizadas o reinsertadas                                                     2
Persona en condición de desplazamiento                                                  579
Persona en situación de calle                                                            14
Persona en situación de prostitución                                                      8
Persona habitante de  la calle                                                           10
Persona habitante de la calle                                                             3
Persona mayores en hogares de cuidado                                                    17
Persona privada de la libertad                                                          124
Persona que ejerce actividades de periodismo                                             10
Persona que ejerce actividades gremiales o sindicales                                     1
Persona recluida en establecimiento de rehabilitación y pabellones psiquiátricos          6
Persona recluída en establecimientos de rehabilitación y pabellones psiquiátricos         6
Personas bajo custodia                                                                 1259
Personas con capacidades diferentes                                                     118
Personas con orientación sexual diversa (LGTBI)                                         112
Personas desmovilizadas o reinsertadas                                                   19
Personas en situación de prostitución                                                     7
Personas mayores en hogares de cuidado                                                   44
Personas que ejercen actividades de periodismo                                            1
Pertenecientes a grupos étnicos                                                         163
Pertenencia múltiple                                                                    289
Punks                                                                                     1
Religioso                                                                                 5
Religiosos                                                                               13
Sector social LGBT                                                                      193
Sector social LGBTI (OSIGD)                                                             506
Servidor público                                                                         41
Sin información                                                                       31020
Tribus urbanas                                                                           20
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Pertenencia Grupal"] = intrafamiliar["Pertenencia Grupal"].replace(
    {
        "Comunidad LGBT": "OSIGD",  # Personas con orientaciones sexuales e identidades de género diversas (OSIGD)
        "Personas con orientación sexual diversa (LGTBI)": "OSIGD",
        "Sector social LGBTI (OSIGD)": "OSIGD",
        "Sector social LGBT": "OSIGD",
        "Maestro - educador": "Maestro o Educador",
        "Maestro / educador": "Maestro o Educador",
        "Maestro/Educador": "Maestro o Educador",
        "Mujer cabeza de hogar": "Mujer cabeza de hogar o de familia",
        "Niños, Niñas y Adolescentes bajo protección del ICBF": "ICBF",
        "Niños, niñas, adolescentes bajo la protección del ICBF": "ICBF",
        "Niños, Niñas y Adolescentes en condición de abandono": "Niños, niñas, adolescentes abandonados",
        "Niños, niñas, adolescentes en condición de abandono": "Niños, niñas, adolescentes abandonados",
        "Persona recluída en establecimientos de rehabilitación y pabellones psiquiátricos": "Rehabilitación y pabellones psiquiátricos",
        "Persona Recluida en establecimiento de rehabilitación y pabellones psiquiátricos": "Rehabilitación y pabellones psiquiátricos",
        "Persona recluida en establecimiento de rehabilitación y pabellones psiquiátricos": "Rehabilitación y pabellones psiquiátricos",
        "Persona mayores en hogares de cuidado": "Geriátrico",
        "Personas mayores en hogares de cuidado": "Geriátrico",
        "Persona desmovilizadas o reinsertadas": "Desmovilizados o reinsertados",
        "Personas desmovilizadas o reinsertadas": "Desmovilizados o reinsertados",
        "Pertenecientes a grupos étnicos": "Étnico",
        "Grupos étnicos": "Étnico",
        "Religiosos": "Religioso",
        "Persona que ejerce actividades de periodismo": "Periodismo",
        "Personas que ejercen actividades de periodismo": "Periodismo",
        "Ejercicio de actividades de periodismo": "Periodismo",
        "Persona bajo custodia": "Custodia",
        "Personas bajo custodia": "Custodia",
        "Tribus urbanas": "Tribu urbana",
        "Punks": "Tribu urbana",
        "Metaleros": "Tribu urbana",
        "Emos": "Tribu urbana",
        "Hopper": "Tribu urbana",
        "Personas en situación de prostitución": "Prostitución",
        # "" : "",
    }
)

Mes del Hecho

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Mes del hecho"].value_counts().sort_index()

Mes del hecho
Abril          6117
Agosto         6594
Diciembre      5383
Enero          6011
Febrero        6435
Julio          6426
Junio          5925
Marzo          6631
Mayo           6692
Noviembre      5531
Octubre        6160
Septiembre     6803
abril         12921
agosto        14437
diciembre     12225
enero         13707
febrero       13951
julio         13607
junio         13037
marzo         14311
mayo          14743
noviembre     11577
octubre       13349
septiembre    14267
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Mes del hecho"] = intrafamiliar["Mes del hecho"].replace(
    {
        "abril": "Abril",
        "agosto": "Agosto",
        "diciembre": "Diciembre",
        "enero": "Enero",
        "febrero": "Febrero",
        "julio": "Julio",
        "junio": "Junio",
        "marzo": "Marzo",
        "mayo": "Mayo",
        "noviembre": "Noviembre",
        "octubre": "Octubre",
        "septiembre": "Septiembre",
        # "" : "",
    }
)

Dia del hecho

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Dia del hecho"].value_counts().sort_index()

Dia del hecho
Domingo       9357
Jueves        6117
Lunes         7308
Martes        6728
Miércoles     6389
Sábado        6305
Viernes       5519
domingo      37260
jueves       24347
lunes        27804
martes       26020
miércoles    25948
sábado       25359
viernes      22379
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Dia del hecho"] = intrafamiliar["Dia del hecho"].replace(
    {
        "domingo": "Domingo",
        "jueves": "Jueves",
        "lunes": "Lunes",
        "martes": "Martes",
        "miércoles": "Miércoles",
        "sábado": "Sábado",
        "viernes": "Viernes",
        # "" : "",
    }
)

Código Dane Departamento

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Código Dane Departamento"].value_counts().sort_index()

Código Dane Departamento
5      31087
8      10687
11     61428
13      5626
15      8099
17      2900
18      1048
19      4532
20      3614
23      2239
25     19337
27       541
41      6067
44      1977
47      5161
50      7525
52      4084
54      6547
63      3000
66      3844
68     11705
70      2964
73      8242
76     14734
81      2415
85      4028
86      1158
88       654
91       805
94       232
95       316
97       168
99        67
999        9
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Código Dane Departamento"] = intrafamiliar["Código Dane Departamento"].replace(
    {
        999: 99,  #No existe 999, se asume que es un error y se cambia por 99
        # "" : "",
    }
)

Zona del Hecho

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Zona del Hecho"].value_counts().sort_index()

Zona del Hecho
Cabecera municipal                                                 206453
Centro poblado (corregimiento, inspección de policía y caserío)      4031
Centro poblado(corregimiento, inspección de policía y caserío)       4314
Parte rural (vereda y campo)                                        16267
Sin información                                                      5775
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Zona del Hecho"] = intrafamiliar["Zona del Hecho"].replace(
    {
        "Centro poblado(corregimiento, inspección de policía y caserío)": "Centro poblado (corregimiento, inspección de policía y caserío)",
        # "" : "",
    }
)

Escenario del Hecho

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Escenario del Hecho"].value_counts().sort_index()

Escenario del Hecho
Ambulancia - Transporte Sanitario                                                                          10
Ambulancia - transporte sanitario                                                                           2
Calle (Autopista,Avenida,Dentro de La Ciudad)                                                           18378
Calle (autopista, avenida, dentro de la ciudad)                                                          8231
Carretera (Fuera de La Ciudad)                                                                            834
Carretera (fuera de la ciudad)                                                                            478
Centro de Atención Médica (Hospital,Clínica,Consultorio,Etc)                                              291
Centro de atención médica (hospital, clínica, consultorio, etc.)                                           95
Centros Educativos                                                                                        808
Centros de Reclusión                                                                                      107
Centros de reclusión                                                                                       26
Centros educativos                                                                                        417
Espacios Acuáticos al Aire Libre (Mar,Río,Arroyo,Humedal,Lago,Etc)                                         26
Espacios Terrestres al Aire Libre (Bosque,Potrero,Montaña,Playa,Etc)                                      422
Espacios acuáticos al aire libre (mar, rio, arroyo, humedal, lago, etc.)                                    1
Espacios acuáticos al aire libre (mar, río, arroyo, humedal, lago, etc.)                                    5
Espacios terrestres al aire libre (bosque, potrero, montaña, playa, etc.)                                 298
Establecimiento Comercial (Tienda,Centro Comercial,Almacén,Plaza de Mercado)                             1611
Establecimiento Industrial (Fábrica,Planta) y/o Obras en Construcción                                      63
Establecimiento comercial (plaza de mercado, galería)                                                      14
Establecimiento comercial (tienda, centro comercial, almacen)                                             310
Establecimiento comercial (tienda, centro comercial, almacén, plaza de mercado)                           836
Establecimiento industrial (fábrica, planta) y/o obras en construcción                                     25
Establecimientos Dedicados a la Administración Pública (Cortes,Juzgados,Ministerios,Etc)                   86
Establecimientos Financieros y Relacionados (Bancos,Fiduciarias,Etc)                                        5
Establecimientos de Expendio de Comidas (Restaurantes,Asaderos,Salsamentarias,Etc)                        192
Establecimientos de expendio de comidas (restaurantes, asaderos, salsamentarias, etc.)                    128
Establecimientos dedicados a la administración pública (cortes, juzgados, ministerios, etc.)               34
Establecimientos financieros y relacionados (bancos, fiduciarias, etc.)                                     2
Estaciones de Servicio (Bombas de Gasolina)                                                                21
Estaciones de servicio (bombas de gasolina)                                                                 5
Guarniciones Militares y/o de Policía                                                                      35
Guarniciones militares y/o de policía                                                                      27
Lugares de Actividades Culturales (Cines,Teatros,Museos,Bibliotecas,Etc)                                   93
Lugares de Cuidado de Personas (Hospicios,Orfelinatos,Hogares Geriatricos,Etc)                             94
Lugares de Esparcimiento con Expendio de Alcohol                                                          926
Lugares de Hospedaje (Hoteles,Campamentos Y Otros Tipos de Hospedaje No Permanente,Moteles,Etc)          2221
Lugares de actividades culturales (cines, teatros, museos, bibliotecas, etc.)                              71
Lugares de cuidado de personas (hospicios, orfelinatos, hogares geriátricos, etc.)                         76
Lugares de esparcimiento con expendio de alcohol                                                          588
Lugares de hospedaje (hoteles, campamentos y otros tipos de hospedaje no permanente, moteles, etc.)       796
Oficinas y/o Edificios de Oficinas                                                                        207
Oficinas y/o edificios de oficinas                                                                         89
Otros                                                                                                     735
Parqueaderos, estacionamientos                                                                             68
Parqueaderos,Estacionamientos                                                                              88
Piscina y jacuzzi (establecimientos turísticos, recreativos, deportivos)                                   13
Piscina y jacuzzi (vivienda)                                                                                1
Sin Información                                                                                          1642
Sin información                                                                                          2104
Sitio de Culto (Capilla,Iglesia,Templo,Etc)                                                                48
Sitio de culto (capilla, iglesia, templo, etc.)                                                            37
Taller                                                                                                     76
Terminales de Pasajeros                                                                                    38
Terminales de pasajeros                                                                                    23
Terreno Baldío                                                                                             32
Terreno baldío                                                                                             25
Transporte masivo                                                                                           2
Vehículo Servicio Particular                                                                              124
Vehículo de servicio particular                                                                            74
Vehículo de transporte                                                                                     14
Vivienda                                                                                               179221
Vía Pública                                                                                              7489
Vía pública                                                                                              4041
Zonas de Actividades Agropecuarias                                                                         43
Zonas de actividades agropecuarias                                                                        281
Áreas Deportivas y/o Recreativas                                                                         1336
Áreas deportivas y/o recreativas                                                                          301
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Escenario del Hecho"] = intrafamiliar["Escenario del Hecho"].replace(
    {
        "Ambulancia - transporte sanitario": "Ambulancia - Transporte Sanitario",
        "Calle (autopista, avenida, dentro de la ciudad)": "Calle (Autopista,Avenida,Dentro de La Ciudad)",
        "Carretera (fuera de la ciudad)": "Carretera (Fuera de La Ciudad)",
        "Centro de atención médica (hospital, clínica, consultorio, etc.)": "Centro de Atención Médica (Hospital,Clínica,Consultorio,Etc)",
        "Centros de reclusión": "Centros de Reclusión",
        "Centros educativos": "Centros Educativos",
        "Espacios acuáticos al aire libre (mar, rio, arroyo, humedal, lago, etc.)": "Espacios Acuáticos al Aire Libre (Mar,Río,Arroyo,Humedal,Lago,Etc)",
        "Espacios acuáticos al aire libre (mar, río, arroyo, humedal, lago, etc.)": "Espacios Acuáticos al Aire Libre (Mar,Río,Arroyo,Humedal,Lago,Etc)",
        "Espacios terrestres al aire libre (bosque, potrero, montaña, playa, etc.)": "Espacios Terrestres al Aire Libre (Bosque,Potrero,Montaña,Playa,Etc)",
        "Establecimiento comercial (plaza de mercado, galería)": "Establecimiento Comercial (Tienda,Centro Comercial,Almacén,Plaza de Mercado)",
        "Establecimiento comercial (tienda, centro comercial, almacen)": "Establecimiento Comercial (Tienda,Centro Comercial,Almacén,Plaza de Mercado)",
        "Establecimiento comercial (tienda, centro comercial, almacén, plaza de mercado)": "Establecimiento Comercial (Tienda,Centro Comercial,Almacén,Plaza de Mercado)",
        "Establecimiento industrial (fábrica, planta) y/o obras en construcción": "Establecimiento Industrial (Fábrica,Planta) y/o Obras en Construcción",
        "Establecimientos dedicados a la administración pública (cortes, juzgados, ministerios, etc.)": "Establecimientos Dedicados a la Administración Pública (Cortes,Juzgados,Ministerios,Etc)",
        "Establecimientos de expendio de comidas (restaurantes, asaderos, salsamentarias, etc.)": "Establecimientos de Expendio de Comidas (Restaurantes,Asaderos,Salsamentarias,Etc)",
        "Estaciones de servicio (bombas de gasolina)": "Estaciones de Servicio (Bombas de Gasolina)",
        "Establecimientos financieros y relacionados (bancos, fiduciarias, etc.)": "Establecimientos Financieros y Relacionados (Bancos,Fiduciarias,Etc)",
        "Guarniciones militares y/o de policía": "Guarniciones Militares y/o de Policía",
        "Lugares de actividades culturales (cines, teatros, museos, bibliotecas, etc.)": "Lugares de Actividades Culturales (Cines,Teatros,Museos,Bibliotecas,Etc)",
        "Lugares de esparcimiento con expendio de alcohol": "Lugares de Esparcimiento con Expendio de Alcohol",
        "Lugares de hospedaje (hoteles, campamentos y otros tipos de hospedaje no permanente, moteles, etc.)": "Lugares de Hospedaje (Hoteles,Campamentos Y Otros Tipos de Hospedaje No Permanente,Moteles,Etc)",
        "Oficinas y/o edificios de oficinas": "Oficinas y/o Edificios de Oficinas",
        "Parqueaderos,Estacionamientos": "Parqueaderos, estacionamientos",
        "Sin información": "Sin Información",
        "Sitio de culto (capilla, iglesia, templo, etc.)": "Sitio de Culto (Capilla,Iglesia,Templo,Etc)",
        "Terminales de pasajeros": "Terminales de Pasajeros",
        "Terreno baldío": "Terreno Baldío",
        "Vehículo de servicio particular": "Vehículo Servicio Particular",
        "Vía pública": "Vía Pública",
        "Zonas de actividades agropecuarias": "Zonas de Actividades Agropecuarias",
        "Áreas deportivas y/o recreativas": "Áreas Deportivas y/o Recreativas",
        # "" : "",
    }
)

Actividad Durante el Hecho

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Actividad Durante el Hecho"].value_counts().sort_index()

Actividad Durante el Hecho
Actividades de desplazamiento de un lugar a otro                                                      47573
Actividades de desplazamiento de un lugar a otro.                                                     12851
Actividades de tiempo libre                                                                              47
Actividades de trabajo doméstico no pagado para el uso del propio hogar                               53481
Actividades ilícitas o delictivas                                                                       962
Actividades relacionadas con el aprendizaje                                                             647
Actividades relacionadas con el cuidado no pagado de miembros del hogar                                6376
Actividades relacionadas con el estudio y el aprendizaje                                               2421
Actividades relacionadas con el trabajo remunerado                                                     1653
Actividades relacionadas con enfrentamientos armados                                                   6369
Actividades relacionadas con la asistencia a eventos culturales, de entretenimiento y/o deportivos     8335
Actividades relacionadas con los deportes y el ejercicio físico                                         345
Actividades relacionadas con los deportes y el ejercicio físico.                                         77
Actividades relacionadas con manifestaciones públicas (Marchas, protestas, etc)                          33
Actividades relacionadas con manifestaciones públicas (Marchas, protestas, etc.)                         17
Actividades relacionadas con manifestaciones públicas (marchas, protestas, etc.)                          8
Actividades vitales o relacionadas con el cuidado personal                                            75137
Durante una retención legal (preso detenido)                                                              4
Otra                                                                                                  18521
Quehacer habitualmente no remunerado                                                                      5
Sin información                                                                                        1978
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Actividad Durante el Hecho"] = intrafamiliar["Actividad Durante el Hecho"].replace(
    {
        "Actividades de desplazamiento de un lugar a otro.": "Actividades de desplazamiento de un lugar a otro",  # Actividades de desplazamiento de un lugar a otro se repetía
        "Actividades relacionadas con los deportes y el ejercicio físico.": "Actividades relacionadas con los deportes y el ejercicio físico",
        "Actividades relacionadas con manifestaciones públicas (Marchas, protestas, etc.)": "Actividades relacionadas con manifestaciones públicas (Marchas, protestas, etc)",
        "Actividades relacionadas con manifestaciones públicas (marchas, protestas, etc.)": "Actividades relacionadas con manifestaciones públicas (Marchas, protestas, etc)",
                # "" : "",
    }
)

Circunstancia del Hecho Detallada

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Circunstancia del Hecho Detallada"].value_counts().sort_index()

Circunstancia del Hecho Detallada
Abandono                                              81
Ajuste de cuentas                                     10
Amenaza o intimidación                               305
Celos                                                379
Conflicto familiar                                   828
Consumo de alcohol y/o sustancias psicoactivas      2576
Económicas                                           123
Embriaguez (alcohólica y no alcohólica)              888
Enfermedad física o mental                           129
Esclavitud o trabajo forzoso                           1
Intolerancia                                       14331
Machismo                                              52
Negligencia                                           84
Reclutamiento de niños, niñas y adolescentes           5
Sin información                                      332
Violencia contra el adulto mayor                   18786
Violencia contra niños, niñas y adolescentes       76479
Violencia económica                                   61
Violencia entre otros familiares                  121390
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Circunstancia del Hecho Detallada"] = intrafamiliar["Circunstancia del Hecho Detallada"].replace(
    {
        "Embriaguez (alcohólica y no alcohólica)": "Consumo de alcohol y/o sustancias psicoactivas",
    }

)

Mecanismo Causal de la Lesión no Fatal

In [ ]:
# Frencuencia de las categorías
intrafamiliar["Mecanismo Causal de la Lesión no Fatal"].value_counts().sort_index()

Mecanismo Causal de la Lesión no Fatal
Abrasivo                             7532
Agente químico                         49
Agente químico irritante                4
Agente químico tóxico                   2
Agentes y mecanismo explosivo          10
Agentes y mecanismos biológicos       144
Biodinámico                           401
Caústico                               15
Contundente                        108971
Cortante                             4460
Corto contundente                   15322
Corto punzante                       4177
Cáustico                               10
Eléctrico                              16
Generadores de asfixia                 71
Mecanismo múltiple                  46502
Otros                                  16
Por determinar                      47831
Proyectil de arma de fuego            368
Punzante                              168
Térmico                               739
Tóxico                                 32
Name: count, dtype: int64

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Mecanismo Causal de la Lesión no Fatal"] = intrafamiliar["Mecanismo Causal de la Lesión no Fatal"].replace(
    {
       "Caústico": "Cáustico",
    }
)

Presunto Agresor Detallado

In [ ]:
intrafamiliar["Presunto Agresor Detallado"].value_counts().sort_index()

Presunto Agresor Detallado
Abuelo (a)                                   2677
Cuñado (a)                                  20118
Encargado del cuidado                        3435
Hermanastro (a)                                 1
Hermano (a)                                 42203
Hijastro (a)                                    4
Hijo (a)                                    26500
Madrastra                                    2167
Madre                                       27945
Nieto (a)                                    2302
Nuera                                        2241
Otros familiares civiles o consanguíneos    18243
Padrastro                                   11401
Padre                                       34408
Personal de custodia                           26
Primo (a)                                   10175
Profesor (a)                                  157
Sin información                              2040
Sobrino (a)                                  9621
Suegro (a)                                   3976
Tío (a)                                     12032
Yerno                                        5168
Name: count, dtype: int64

In [ ]:
intrafamiliar["Presunto Agresor Detallado"] = intrafamiliar["Presunto Agresor Detallado"].replace(
    {
        "Abuelo(a)": "Abuelo (a)",
        "Cuñado(a)": "Cuñado (a)",
        "Hermano(a)": "Hermano (a)",
        "Hijo(a)": "Hijo (a)",
        "Nieto(a)": "Nieto (a)",
        "Primo(a)": "Primo (a)",
        "Sobrino(a)": "Sobrino (a)",
        "Suegro(a)": "Suegro (a)",
        "Tio (a)": "Tío (a)",
        "Tío(a)": "Tío (a)",
        "YERNO": "Yerno",
        "NUERA": "Nuera",
        "Otros familiares civiles o consanguineos": "Otros familiares civiles o consanguíneos",
    }
)

In [ ]:
asdfadsf

NameError: name 'asdfadsf' is not defined

Factor Desencadenante de la Agresión

In [ ]:
intrafamiliar["Factor Desencadenante de la Agresión"].value_counts().sort_index()

In [ ]:
intrafamiliar["Factor Desencadenante de la Agresión"] = intrafamiliar["Factor Desencadenante de la Agresión"].replace(
    {
        "Alcoholismo / drogadicción": "Consumo de alcohol y/o sustancias psicoactivas",
        "Enfermedad fisica o mental": "Enfermedad física o mental",
        "Intolerancia, machismo": "Intolerancia / Machismo",
        "Otras razones": "Otras",
        "Desamor": "Celos, desconfianza, infidelidad", #Desamor era solo 1 dato, por lo que lo juunto con celos que considero es parecido
    }
)

Días de Incapacidad Medicolegal

In [ ]:
intrafamiliar["Días de Incapacidad Medicolegal"].value_counts().sort_index()

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Días de Incapacidad Medicolegal"] = intrafamiliar["Días de Incapacidad Medicolegal"].replace(
    {
        "Cero días": "Cero",
        "Cero días y Sin información": "Sin información",
        "Cero días y sin información": "Sin información",
        "Sin días de incapacidad": "Cero",
    }
)

Pueblo Indígena

In [ ]:
intrafamiliar["Pueblo Indígena"].value_counts().sort_index()

In [ ]:
# Renombrar categorías de manera adecuada
intrafamiliar["Pueblo Indígena"] = intrafamiliar["Pueblo Indígena"].replace(
    {
        "Ninguno": "No aplica",
    }
)

# **Exporto Nueva Base de Datos con modificaciones**

In [ ]:
intrafamiliar.to_csv("intrafamiliar_modified.csv", index=False)

identificar las variables que influyen en la severidad de la agresión (medida por Días de Incapacidad Medicolegal) y el Factor Desencadenante de la Agresión.

In [ ]:
intrafamiliar["Días de Incapacidad Medicolegal"].value_counts().sort_index()

In [ ]:
#Cerca del 14% del total son Sin Información, no me sirven para mi analisis, y si los reemplazo con
#la Moda, sería de 1  a 30 días, severidad Baja y estaría sesgando los datos a que haya mas de esos.

In [ ]:
# 1. Definir el mapeo de texto a valor ordinal
mapeo_severidad = {
    'Cero': 0,        # 0 días de incapacidad
    '1 a 30': 1,       # Severidad Baja/Media
    '31 a 90': 2,      # Severidad Media/Alta
    'Más de 90': 3,    # Alta Severidad
    # Los valores 'Sin información' se mapean a NaN para tratarlos como nulos
    'Sin información': np.nan
}


# 2. Aplicar el mapeo para crear la nueva columna 'Severidad_Ordinal'
intrafamiliar['Severidad_Ordinal'] = intrafamiliar['Días de Incapacidad Medicolegal'].replace(mapeo_severidad)

print("--- 1. Conteo de la Nueva Columna con Nulos (antes de excluir) ---")
print(intrafamiliar['Severidad_Ordinal'].value_counts(dropna=False))

In [ ]:
print(f"\nRegistros totales antes de la exclusión: {len(intrafamiliar)}")

# 3. Eliminar las filas donde 'Severidad_Ordinal' es NaN (los 'Sin información')
intrafamiliar.dropna(subset=['Severidad_Ordinal'], inplace=True)

# 4. Convertir la columna a entero, ya que no tiene nulos y es ordinal
intrafamiliar['Severidad_Ordinal'] = intrafamiliar['Severidad_Ordinal'].astype(int)

print(f"Registros después de excluir 'Sin información': {len(intrafamiliar)}")

print("\n--- 2. Conteo final de la variable objetivo (Sin Nulos) ---")
print(intrafamiliar['Severidad_Ordinal'].value_counts())

Limpieza de Factor Desencadenante de la Agresión

In [ ]:
intrafamiliar["Factor Desencadenante de la Agresión"].value_counts().sort_index()

In [ ]:
#Se elimina Sin Información ya que es el 7% de mis datos, no son muchos, por lo que NO debería afectar el modelo

In [ ]:
valor_faltante = 'Sin información'

# 1. Monitoreo inicial
registros_antes = len(intrafamiliar)

# 2. Excluir las filas que tienen el valor faltante en la columna de interés
intrafamiliar = intrafamiliar[
    intrafamiliar['Factor Desencadenante de la Agresión'] != valor_faltante
].copy()

# 3. Monitoreo final
registros_despues = len(intrafamiliar)

print(f"✅ Registros de 'Factor Desencadenante' eliminados: {registros_antes - registros_despues}")
print(f"Registros restantes para el análisis: {registros_despues}")

Aplicar One-Hot Encoding (OHE)

In [ ]:
# 1. Aplicar pd.get_dummies() para OHE
df_encoded_factor = pd.get_dummies(
    intrafamiliar['Factor Desencadenante de la Agresión'],
    prefix='Factor'
)

# 2. Unir las nuevas columnas codificadas al DataFrame original
# El parámetro axis=1 asegura que se unen como nuevas columnas.
intrafamiliar = pd.concat([intrafamiliar, df_encoded_factor], axis=1)

# 3. Eliminar la columna original de texto
intrafamiliar.drop('Factor Desencadenante de la Agresión', axis=1, inplace=True)

print("\n--- Columnas OHE del Factor Desencadenante Creadas ---")
# Muestra las nuevas columnas binarias
print(intrafamiliar.filter(like='Factor_').head())

Limpieza y OHE de Presunto Agresor Detallado

In [ ]:
intrafamiliar["Presunto Agresor Detallado"].value_counts()

Presunto Agresor Detallado
Hermano (a)                                 42203
Padre                                       34408
Madre                                       27945
Hijo (a)                                    26500
Cuñado (a)                                  20118
Otros familiares civiles o consanguíneos    18243
Tío (a)                                     12032
Padrastro                                   11401
Primo (a)                                   10175
Sobrino (a)                                  9621
Yerno                                        5168
Suegro (a)                                   3976
Encargado del cuidado                        3435
Abuelo (a)                                   2677
Nieto (a)                                    2302
Nuera                                        2241
Madrastra                                    2167
Sin información                              2040
Profesor (a)                                  157
Personal de custodia                           26
Hijastro (a)                                    4
Hermanastro (a)                                 1
Name: count, dtype: int64

In [ ]:
# Verificamos si es buena idea agrupar por Familiar Directo
#Si Padre es muy diferente de Madre, entonces NO se agrupa, si tiene valores similares, se agrupan

categorias_directas = ['Padre', 'Madre', 'Hijo (a)', 'Hermano (a)']

# 1. Filtra solo las filas de este grupo
df_filtro = intrafamiliar[intrafamiliar['Presunto Agresor Detallado'].isin(categorias_directas)]

# 2. Calcula la severidad media para cada subcategoría
severidad_por_familiar = df_filtro.groupby('Presunto Agresor Detallado')['Severidad_Ordinal'].mean().sort_values(ascending=False)

print("--- Severidad Media de Agresores Familiares Directos ---")
print(severidad_por_familiar)

In [ ]:
#El valor 0.8 significa que el caso promedio de agresión dentro de este grupo está más cerca de la categoría 1
#(1 a 30 dúas de incapacidad) que de la categoría 0 (Cero días), pero aún es una severidad muy baja en la escala general (donde el máximo es 3).

#Dado que las medias de severidad para el Padre, Madre, Hijo(a) y Hermano(a) son todas extremadamente cercanas
#y se encuentran en el mismo rango de riesgo, la pérdida de información por agruparlas es mínima y el beneficio
#en la simplificación del modelo es máximo.

In [ ]:
# Diccionario de mapeo para agrupar las categorías en 4 clases
mapeo_agresor = {
    # Grupo Familiar Directo (Núcleo)
    'Padre': 'Familiar Directo',
    'Madre': 'Familiar Directo',
    'Hijo (a)': 'Familiar Directo',
    'Hermano (a)': 'Familiar Directo',

    # Grupo Cuidado/Tutela
    'Encargado del cuidado': 'Cuidado/Tutela',
    'Madrastra': 'Cuidado/Tutela',
    'Padrastro': 'Cuidado/Tutela',

    # Grupo Familiar Extendido/Político
    'Abuelo (a)': 'Familiar Extendido',
    'Tío (a)': 'Familiar Extendido',
    'Primo (a)': 'Familiar Extendido',
    'Sobrino (a)': 'Familiar Extendido',
    'Cuñado (a)': 'Familiar Extendido',
    'Suegro (a)': 'Familiar Extendido',
    'Nuera': 'Familiar Extendido',
    'Yerno': 'Familiar Extendido',
    'Otros familiares civiles o consanguíneos': 'Familiar Extendido',

    # Grupo Otros/Institucional
    'Profesor (a)': 'Otros/Bajo Riesgo',

    # Dato Faltante: Se mapea a un valor para poder identificarlo y eliminarlo
    'Sin información': 'DATO_A_EXCLUIR' #Ya que son pocos datos
}

# Aplicar el reemplazo al DataFrame
intrafamiliar['Agresor_Agrupado'] = intrafamiliar['Presunto Agresor Detallado'].replace(mapeo_agresor)

# EXCLUSIÓN: Eliminar los 539 registros con 'Sin información'
registros_antes = len(intrafamiliar)
intrafamiliar = intrafamiliar[intrafamiliar['Agresor_Agrupado'] != 'DATO_A_EXCLUIR'].copy()
registros_despues = len(intrafamiliar)

print(f"✅ Registros de 'Sin información' eliminados: {registros_antes - registros_despues}")

print("\n--- Conteo de categorías después de la agrupación (4 Clases) ---")
print(intrafamiliar['Agresor_Agrupado'].value_counts())

Aplicar One-Hot Encoding (OHE)

In [ ]:
# 1. Aplicar pd.get_dummies() para OHE
# La salida será de tipo booleano (True/False)
df_encoded_agresor = pd.get_dummies(
    intrafamiliar['Agresor_Agrupado'],
    prefix='Agresor'
)

# 2. Unir las nuevas columnas codificadas al DataFrame original
intrafamiliar = pd.concat([intrafamiliar, df_encoded_agresor], axis=1)

# 3. Eliminar la columna original y la de agrupación, ya no son necesarias
intrafamiliar.drop(['Presunto Agresor Detallado', 'Agresor_Agrupado'], axis=1, inplace=True)

print("\n--- Columnas OHE del Presunto Agresor Creadas (True/False) ---")
# Muestra las nuevas columnas binarias
print(intrafamiliar.filter(like='Agresor_').head())

Escolaridad

In [ ]:
intrafamiliar["Escolaridad"].value_counts(normalize=True)

In [ ]:
#Orden Ordinal, porque hay una jerarquía, Posgrado es mayor que Prescolar, si fuera (Azulk, rojo, Negro)
#No hay un orden lógico, se usaría Nominal (como con las anteriores variables)

# Diccionario que define el orden lógico de los niveles de escolaridad (de menor a mayor)
orden_escolaridad_final = {
    'Sin escolaridad': 0,
    'Preescolar': 1,             # Nivel superior a 'Sin escolaridad', inferior a 'Primaria'
    'Primaria': 2,
    'Secundaria': 3,
    'Técnica o Tecnológica': 4,
    'Profesional': 5,
    'Posgrado': 6,

    # Mapear los valores faltantes a NaN para excluirlos
    'Sin información': np.nan,
}

# 1. Crear la columna numérica ('Escolaridad_Num')
# Si tu DataFrame aún contiene la columna 'Escolaridad', usa el siguiente código:
intrafamiliar['Escolaridad_Num'] = intrafamiliar['Escolaridad'].replace(orden_escolaridad_final)

print("--- Conteo de valores (incluyendo Nulos) ---")
print(intrafamiliar['Escolaridad_Num'].value_counts(dropna=False))

In [ ]:
# 2. Excluir las filas donde 'Escolaridad_Num' es NaN (los 'Sin información')
registros_antes = len(intrafamiliar)
intrafamiliar.dropna(subset=['Escolaridad_Num'], inplace=True)
registros_despues = len(intrafamiliar)

# 3. Convertir la columna a entero
intrafamiliar['Escolaridad_Num'] = intrafamiliar['Escolaridad_Num'].astype(int)

# 4. Eliminar la columna de texto original
intrafamiliar.drop('Escolaridad', axis=1, inplace=True)

print(f"\n✅ Registros excluidos por 'Escolaridad' faltante: {registros_antes - registros_despues}")
print(f"Registros restantes: {registros_despues}")

print("\n--- Conteo final de la Escolaridad Numérica ---")
print(intrafamiliar['Escolaridad_Num'].value_counts().sort_index())

Pueblo Indigena

In [ ]:
intrafamiliar["Pueblo Indígena"].value_counts()

In [ ]:
# 1. Identificar las categorías que NO representan un Pueblo Indígena
categorias_no_indigenas = [
    'Ninguno',
    'No aplica',
    'No había sido implementada',
    'Sin información', # Si esta existe y no se ha excluido antes
]

# 2. Crear una nueva columna. Inicialmente, asumimos que NADIE es indígena (valor por defecto 0)
intrafamiliar['Es_Indigena'] = 0

# 3. Marcar con 1 (True) a aquellos que pertenecen a cualquier Pueblo Indígena.
# Esto incluye 'Nasa - Páez', 'Nonuya' y todos los demás Pueblos Indígenas que no están en la lista de 'no pertenencia'.

# Usamos el operador lógico NOT (~) y el método .isin() para marcar como 1 (indígena) a cualquier fila
# que NO esté en la lista de categorías_no_indigenas.
intrafamiliar.loc[~intrafamiliar['Pueblo Indígena'].isin(categorias_no_indigenas), 'Es_Indigena'] = 1

# 4. Convertir la nueva columna a tipo entero (1 o 0)
intrafamiliar['Es_Indigena'] = intrafamiliar['Es_Indigena'].astype(int)

# Opcional: Eliminar la columna de texto original
#intrafamiliar.drop('Pueblo Indígena', axis=1, inplace=True)

In [ ]:
intrafamiliar["Es_Indigena"].value_counts()

In [ ]:
# CÓDIGO DE VERIFICACIÓN (Asumiendo que 'Severidad_Ordinal' ya existe y es numérica)

# Calcular la media de Severidad_Ordinal para cada valor de Es_Indigena (0 y 1)
severidad_por_etnia = intrafamiliar.groupby('Es_Indigena')['Severidad_Ordinal'].mean().sort_values(ascending=False)

print("--- Severidad Media de Agresión por Pertenencia Étnica (0=No Indígena, 1=Indígena) ---")
print(severidad_por_etnia)

In [ ]:
#A pesar de tener de que parece que su impacto en la predicción es bajo, se deja porque:
# Se debe mantener por su valor como variable de contexto y vulnerabilidad social. Un modelo de IA
#debe considerar las variables demográficas (como la pertenencia étnica) incluso si su correlación directa
#con el target es débil, ya que podrían interactuar con otras variables
#(como el Factor Desencadenante) de maneras que solo el modelo podrá descubrir.

ULTIMO PASO, VER CORRELACIONES

In [ ]:
1. Correlación: Factor Desencadenante y Severidad

In [ ]:
#Calcular y mostrar la severidad promedio (Severidad_Ordinal) para cada uno de los factores
# Las columnas OHE del factor desencadenante empiezan con 'Factor_'
columnas_factor = [col for col in intrafamiliar.columns if col.startswith('Factor_')]

print("--- Severidad Media por Factor Desencadenante ---")

# Para cada columna OHE, calculamos la severidad media cuando esa columna es True (o 1)
# Si la columna es True, significa que ese fue el factor.
for factor_col in columnas_factor:
    # Filtramos las filas donde el factor es True
    df_filtrado = intrafamiliar[intrafamiliar[factor_col] == True]

    # Calculamos la media de Severidad_Ordinal para ese factor
    severidad_media = df_filtrado['Severidad_Ordinal'].mean()

    # Imprimimos el resultado (formateado para mayor claridad)
    # Reemplazamos 'Factor_' por un espacio para una mejor visualización
    nombre_factor = factor_col.replace('Factor_', '').replace('_', ' ')
    print(f"  {nombre_factor:<45}: {severidad_media:.4f}")

print("\n(Mayor valor indica mayor severidad promedio)")

Correlación: Presunto Agresor y Severidad

In [ ]:
# Las columnas OHE del agresor empiezan con 'Agresor_'
columnas_agresor = [col for col in intrafamiliar.columns if col.startswith('Agresor_')]

print("\n--- Severidad Media por Presunto Agresor Agrupado ---")

# Iteramos sobre las columnas OHE del agresor
for agresor_col in columnas_agresor:
    # Filtramos las filas donde el agresor es True
    df_filtrado = intrafamiliar[intrafamiliar[agresor_col] == True]

    # Calculamos la media de Severidad_Ordinal para ese agresor
    severidad_media = df_filtrado['Severidad_Ordinal'].mean()

    # Imprimimos el resultado
    nombre_agresor = agresor_col.replace('Agresor_', '').replace('_', ' ')
    print(f"  {nombre_agresor:<30}: {severidad_media:.4f}")

print("\n(Mayor valor indica mayor severidad promedio)")

3. Correlación: Escolaridad y Severidad

In [ ]:
print("\n--- Severidad Media por Nivel de Escolaridad (Vulnerabilidad) ---")

# Agrupamos por el nivel numérico de escolaridad
severidad_escolaridad = intrafamiliar.groupby('Escolaridad_Num')['Severidad_Ordinal'].mean().sort_values(ascending=False)

# Revertimos el mapeo para imprimir los nombres de las categorías originales (opcional, pero útil para el reporte)
# Usando el mapeo final de {0:'Sin escolaridad', 1:'Preescolar', 2:'Primaria', 3:'Secundaria', 4:'Técnica/Tecnológica', 5:'Profesional', 6:'Posgrado'}
mapeo_inverso = {
    0: 'Sin escolaridad', 1: 'Preescolar', 2: 'Primaria', 3: 'Secundaria',
    4: 'Técnica/Tecnológica', 5: 'Profesional', 6: 'Posgrado'
}

# Aplicamos el mapeo para la presentación
severidad_escolaridad.index = severidad_escolaridad.index.map(mapeo_inverso)

print(severidad_escolaridad)

## **REFORMULACIÓN DEL PROBLEMA **

In [ ]:
intrafamiliar['Días de Incapacidad Medicolegal']

In [ ]:
# 1. Crear la variable Ordinal (Severidad_Ordinal)
mapeo_severidad = {'Cero': 0, '1 a 30': 1, '31 a 90': 2, 'Más de 90': 3, 'Sin información': np.nan}
intrafamiliar['Severidad_Ordinal'] = intrafamiliar['Días de Incapacidad Medicolegal'].replace(mapeo_severidad)

# 2. Excluir filas con 'Sin información' en Severidad y usar .copy()
intrafamiliar.dropna(subset=['Severidad_Ordinal'], inplace=True)
intrafamiliar = intrafamiliar.copy() #crea una copia profunda e independiente de ese DataFrame en la memoria. Esto significa que la nueva variable intrafamiliar ahora apunta a una estructura de datos completamente nueva que contiene los mismos datos que el DataFrame después del dropna
intrafamiliar['Severidad_Ordinal'] = intrafamiliar['Severidad_Ordinal'].astype(int)

# 3. CREAR EL NUEVO OBJETIVO BINARIO
intrafamiliar['Riesgo_Extremo_Grave'] = intrafamiliar['Severidad_Ordinal'].apply(
    lambda x: 1 if x in [2, 3] else 0
)

print(f"✅ Nuevo objetivo Riesgo_Extremo_Grave creado. Total de Casos Válidos: {len(intrafamiliar)}")
intrafamiliar['Riesgo_Extremo_Grave']

2. Transformación de Factor Desencadenante (OHE)

In [ ]:
intrafamiliar['Factor Desencadenante de la Agresión'].value_counts()

Factor Desencadenante de la Agresión
Intolerancia, machismo                            167424
Alcoholismo / drogadicción                         18605
Consumo de alcohol y/o sustancias psicoactivas     18581
Sin información                                    15382
Celos, desconfianza, infidelidad                    7708
Económicas                                          2177
Otras razones                                       2098
Otras                                               1503
Abandono                                             718
Enfermedad fisica o mental                           493
Enfermedad física o mental                           110
Desamor                                                1
Name: count, dtype: int64

In [ ]:
# Exclusión:
categorias_a_excluir_factor = ['Sin información']

# 1. Excluir filas con la categoría faltante y usar .copy()
registros_antes = len(intrafamiliar)
intrafamiliar = intrafamiliar[
    ~intrafamiliar['Factor Desencadenante de la Agresión'].isin(categorias_a_excluir_factor)
].copy()
registros_despues = len(intrafamiliar)

# 2. Aplicar One-Hot Encoding (OHE) a la columna limpia
df_encoded_factor = pd.get_dummies(intrafamiliar['Factor Desencadenante de la Agresión'], prefix='Factor')
intrafamiliar = pd.concat([intrafamiliar, df_encoded_factor], axis=1)

# 3. Eliminar la columna de texto original
intrafamiliar.drop('Factor Desencadenante de la Agresión', axis=1, inplace=True)

print(f"✅ Factor Desencadenante codificado (OHE). Registros excluidos: {registros_antes - registros_despues}")

✅ Factor Desencadenante codificado (OHE). Registros excluidos: 15382

In [ ]:
df_encoded_factor

,Factor_Abandono,"Factor_Celos, desconfianza, infidelidad",Factor_Consumo de alcohol y/o sustancias psicoactivas,Factor_Económicas,Factor_Enfermedad física o mental,Factor_Intolerancia / Machismo,Factor_Otras
0,False,False,False,False,False,True,False
1,False,False,False,False,False,True,False
3,False,False,False,False,False,True,False
4,False,False,False,False,False,True,False
5,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...
236835,False,False,False,False,False,True,False
236836,False,False,False,False,False,True,False
236837,False,True,False,False,False,False,False
236838,False,False,True,False,False,False,False
236839,False,False,False,False,False,True,False

3. Transformación de Presunto Agresor Detallado (Agrupación y OHE)

In [ ]:
intrafamiliar['Presunto Agresor Detallado'].value_counts()

Presunto Agresor Detallado
Hermano (a)                                 42203
Padre                                       34408
Madre                                       27945
Hijo (a)                                    26500
Cuñado (a)                                  20118
Otros familiares civiles o consanguíneos    18243
Tío (a)                                     12032
Padrastro                                   11401
Primo (a)                                   10175
Sobrino (a)                                  9621
Yerno                                        5168
Suegro (a)                                   3976
Encargado del cuidado                        3435
Abuelo (a)                                   2677
Nieto (a)                                    2302
Nuera                                        2241
Madrastra                                    2167
Sin información                              2040
Profesor (a)                                  157
Personal de custodia                           26
Hijastro (a)                                    4
Hermanastro (a)                                 1
Name: count, dtype: int64

In [ ]:
# Diccionario de mapeo para agrupar las categorías en 4 clases
mapeo_agresor = {
    # Grupo Familiar Directo (Núcleo)
    'Padre': 'Familiar Directo',
    'Madre': 'Familiar Directo',
    'Hijo (a)': 'Familiar Directo',
    'Hermano (a)': 'Familiar Directo',

    # Grupo Cuidado/Tutela
    'Encargado del cuidado': 'Cuidado/Tutela',
    'Madrastra': 'Cuidado/Tutela',
    'Padrastro': 'Cuidado/Tutela',

    # Grupo Familiar Extendido/Político
    'Abuelo (a)': 'Familiar Extendido',
    'Tío (a)': 'Familiar Extendido',
    'Primo (a)': 'Familiar Extendido',
    'Sobrino (a)': 'Familiar Extendido',
    'Cuñado (a)': 'Familiar Extendido',
    'Suegro (a)': 'Familiar Extendido',
    'Nuera': 'Familiar Extendido',
    'Yerno': 'Familiar Extendido',
    'Otros familiares civiles o consanguíneos': 'Familiar Extendido',
    'Nieto (a)': 'Familiar Extendido',
    'Hijastro (a)': 'Familiar Extendido',
    'Hermanastro (a)': 'Familiar Extendido',

    # Grupo Otros/Institucional
    'Profesor (a)': 'Otros/Bajo Riesgo',

    # Dato Faltante: Se mapea a un valor para poder identificarlo y eliminarlo
    'Sin información': 'DATO_A_EXCLUIR' #Ya que son pocos datos
}

# Aplicar el reemplazo al DataFrame
intrafamiliar['Agresor_Agrupado'] = intrafamiliar['Presunto Agresor Detallado'].replace(mapeo_agresor)


intrafamiliar['Agresor_Agrupado'].value_counts()

Agresor_Agrupado
Familiar Directo        131056
Familiar Extendido       86558
Cuidado/Tutela           17003
DATO_A_EXCLUIR            2040
Otros/Bajo Riesgo          157
Personal de custodia        26
Name: count, dtype: int64

In [ ]:
# EXCLUSIÓN: Eliminar los 539 registros con 'Sin información'
registros_antes = len(intrafamiliar)
intrafamiliar = intrafamiliar[intrafamiliar['Agresor_Agrupado'] != 'DATO_A_EXCLUIR'].copy()
registros_despues = len(intrafamiliar)

print(f"✅ Registros de 'Sin información' eliminados: {registros_antes - registros_despues}")

print("\n--- Conteo de categorías después de la agrupación (4 Clases) ---")
print(intrafamiliar['Agresor_Agrupado'].value_counts())

✅ Registros de 'Sin información' eliminados: 2040

--- Conteo de categorías después de la agrupación (4 Clases) ---
Agresor_Agrupado
Familiar Directo        131056
Familiar Extendido       86558
Cuidado/Tutela           17003
Otros/Bajo Riesgo          157
Personal de custodia        26
Name: count, dtype: int64

In [ ]:
# 3. Aplicar One-Hot Encoding (OHE) a las 4 clases agrupadas
df_encoded_agresor = pd.get_dummies(intrafamiliar['Agresor_Agrupado'], prefix='Agresor')
intrafamiliar = pd.concat([intrafamiliar, df_encoded_agresor], axis=1)

# 4. Eliminar las columnas de texto originales
intrafamiliar.drop(['Presunto Agresor Detallado', 'Agresor_Agrupado'], axis=1, inplace=True)

print(f"✅ Presunto Agresor codificado (OHE). Registros de 'Sin información' eliminados: {registros_antes - registros_despues}")
df_encoded_agresor

✅ Presunto Agresor codificado (OHE). Registros de 'Sin información' eliminados: 15382

,Agresor_Cuidado/Tutela,Agresor_Familiar Directo,Agresor_Familiar Extendido,Agresor_Otros/Bajo Riesgo
0,False,True,False,False
1,False,True,False,False
2,False,False,True,False
3,False,False,True,False
4,False,True,False,False
...,...,...,...,...
236835,False,False,True,False
236836,False,False,True,False
236837,True,False,False,False
236838,False,True,False,False
236839,False,False,True,False

Transformación de Escolaridad (Ordinal)

In [ ]:
# Mapeo de Escolaridad a valores numéricos (Ordinal)
orden_escolaridad_final = {
    'Sin escolaridad': 0,
    'Preescolar': 1,
    'Primaria': 2,
    'Secundaria': 3,
    'Técnica o Tecnológica': 4,
    'Profesional': 5,
    'Posgrado': 6,
    'Sin información': np.nan # Excluir faltantes
}

# 1. Aplicar el mapeo
intrafamiliar['Escolaridad_Num'] = intrafamiliar['Escolaridad'].replace(orden_escolaridad_final)

# 2. Excluir filas con 'Sin información' y convertir a entero
registros_antes = len(intrafamiliar)
intrafamiliar.dropna(subset=['Escolaridad_Num'], inplace=True)
intrafamiliar = intrafamiliar.copy()
registros_despues = len(intrafamiliar)

intrafamiliar['Escolaridad_Num'] = intrafamiliar['Escolaridad_Num'].astype(int)

# 3. Eliminar la columna de texto original
intrafamiliar.drop('Escolaridad', axis=1, inplace=True)

print(f"✅ Escolaridad codificada (Ordinal). Registros excluidos: {registros_antes - registros_despues}")
intrafamiliar['Escolaridad_Num'].value_counts()

/tmp/ipython-input-296391293.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  intrafamiliar['Escolaridad_Num'] = intrafamiliar['Escolaridad'].replace(orden_escolaridad_final)

✅ Escolaridad codificada (Ordinal). Registros excluidos: 3074

Escolaridad_Num
2    70761
3    69733
1    40963
4    21523
0    12492
5      603
6      269
Name: count, dtype: int64

Transformación de Pueblo Indígena (Binaria)

In [ ]:
# 1. Definir categorías que NO representan pertenencia indígena
categorias_no_indigenas = ['Ninguno', 'No aplica', 'No había sido implementada', 'Sin información']

# 2. Crear la variable binaria (0 por defecto)
intrafamiliar['Es_Indigena'] = 0

# 3. Marcar con 1 a aquellos que NO están en la lista de 'No Indígena'
intrafamiliar.loc[~intrafamiliar['Pueblo Indígena'].isin(categorias_no_indigenas), 'Es_Indigena'] = 1

# 4. Convertir a entero y eliminar columna original
intrafamiliar['Es_Indigena'] = intrafamiliar['Es_Indigena'].astype(int)
intrafamiliar.drop('Pueblo Indígena', axis=1, inplace=True)

print("✅ Pueblo Indígena codificado (Binario).")
intrafamiliar['Es_Indigena'].value_counts()

✅ Pueblo Indígena codificado (Binario).

Es_Indigena
0    214854
1      1490
Name: count, dtype: int64

Analisis

Riesgo Extremo Grave por Factor Desencadenante

In [ ]:
columnas_factor = [col for col in intrafamiliar.columns if col.startswith('Factor_')]
resultados_factor = []

for factor_col in columnas_factor:
    df_filtrado = intrafamiliar[intrafamiliar[factor_col] == True]
    tasa = df_filtrado['Riesgo_Extremo_Grave'].mean()
    conteo = df_filtrado['Riesgo_Extremo_Grave'].count()
    nombre_factor = factor_col.replace('Factor_', '').replace('_', ' ')
    resultados_factor.append({'Factor': nombre_factor, 'Tasa_Riesgo_Grave': tasa, 'Conteo': conteo})

df_riesgo_factor = pd.DataFrame(resultados_factor).sort_values(by='Tasa_Riesgo_Grave', ascending=False)

print("\n--- Tasa de Riesgo Extremo GRAVE por Factor Desencadenante ---")
print(df_riesgo_factor)

KeyError: 'Riesgo_Extremo_Grave'